body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #0c0c0c;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: #f6c73a
}

ul {
  color: #f6c73a;
}

h3, h2 {
  color: #f6c73a;
}

footer {
  text-align: center;
  padding: 1rem 0;
}

section {
  padding: 0 20%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
