.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c0c0c;
    color: #f6c73a;
    padding: 1rem;
}

.navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-center .navbar-links li {
    margin-right: 1rem;
}

.navbar-center .navbar-links a {
    color: #f6c73a;
    text-decoration: none;
}