.navbar {
    
    background-color: #0c0c0c;
    color: #f6c73a;
    padding: 1rem;
}

.navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 40px;
}

.navbar-center .nav-links li {
    margin-right: 1rem;
}

a {
    font-family: optima, sans-serif;
    color: #f6c73a;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0 0.5rem;
}

a:hover {
    background-color: #f6c73a;
    color: #0c0c0c;
}